
<nav style="border-bottom: 1px solid black;" id="nav">

    <div class="logo">
        <!-- <img id="logo" src="./logo_be4041d5-a81e-4d1e-a43d-29b0b0d52cbe.avif" alt="">  -->


        <P id="raeesi">R A E E S I</P>
    </div>



    <div class="icons">


        <a href=""><i id=" search" class="ri-search-line"></i></a>  
             
            <a href="/signup"> <i id="user" class="ri-user-line"></i> </a>
  
        <a href="/bookmarks"><i id="bookmark" class="ri-bookmark-line"></i>  </a>
        <a href="/cart"><i id="bag" class="ri-shopping-bag-line"></i></a>




    </div>

    <div class="hamburger">

        <!-- <i class="ri-menu-line"></i> -->

        



    </div>

    <ul id="items">
        <li><a href="/men">MEN</a></li>
        <li><a href="/women">WOMEN</a></li>
        <li><a href="/kids">KIDS</a></li>
        <li><a href="/footwear">FOOTWEAR</a></li>
        <li><a href="/bags">BAGS</a></li>
        <li><a href="/accessories">ACCESSORIES</a></li>
    </ul>


</nav>
